body {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.block {
    display: block;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}